<% content_for :title do %>
 TRLN Shared Record Index Management
<% end %> 
<h1><%= yield(:title) %></h1>
  <ul>
 <% @documents.each do |doc| %>
    <li><%= link_to(doc.id, show_document_url(doc) ) %></li>
        <% end %>
  </ul>




