/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'globals';

.ingest {
	padding: 1rem;
}

#main {
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
}

.duke {
	background-color: $duke-bg-color;
	color: $duke-fg-color;
}

.nccu {
	background-color: $nccu-bg-color;
	color: $nccu-fg-color;
}

.unc {
	background-color: $unc-bg-color;
	color: $unc-fg-color;
}

.ncsu {
	background-color: $ncsu-bg-color;
	color: $ncsu-fg-color;
}

/*
nav.navbar {
	float: right;
}

#navbarNav {
  a {
	font-weight: bold;
	padding-left: 1em;
  }
  a:hover {
    color: #fff;
  }
  h3 {
	padding: .2em 1em;
	font-size: 120%;
  }
}
*/
.about {
  background-color: #ececec;
  border: 1px solid #333; 
  border-radius: 3px;
  width: 80%;
  margin: 0 auto;
}

.about ul {
  list-style-type: none;
}

.notifications {
	width: 80%;
	margin: 1em auto;
}

.alert-alert {
	@extend .alert-warning;
}

.alert-notice {
	@extend .alert-info;
}


header {
    padding: .5rem;
 	min-height: 120px;
	background: image-url('logo.jpg') no-repeat $trln-bg-color;
	h1, h2, h3, h4, h5, h6 {
		padding-left: 220px;
		color: $trln-fg-color;
	}
}

.pagination {
	font-size: 1.2em;
	a, span, em {
		margin: auto 1em;
	}
}

.basic-props {
	display: flex;
        align-items: center;
        align-content: space-between;
        justify-content: center;
	dl {
		padding: 2em;
	}
}
