/**
 * A place for global variables, such as colors.
 */
$trln-bg-color: #4A0E70;
$trln-fg-color: #fff;

$duke-bg-color: #0A2B66;
$duke-fg-color: #fff;

$nccu-bg-color: #8c2332;
$nccu-fg-color: #fff;

$unc-bg-color: #56A0D3;
$unc-fg-color: #000;
$ncsu-bg-color: #CC0000;
$ncsu-fg-color: #fff;
