<% content_for :title do %>
Spofford - TRLN Ingest Results
<% end %> 
<h1><%= yield(:title) %></h1>
 <p>Transaction ID: <%= @transaction.id %>
 <p>Owner: <%= @transaction.owner %>
 <p>Files:
   <ul>
     <% @transaction.files.each do |f|  %>
        <li><%= f %></li>
     <% end %>
  </ul>
 